<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Stock Performance Report</title>
</head>
<body>
<div class="main-container">
    <div class="report-section">
        <h1 class="text-center">Stock Performance Report</h1>

        <div class="report-console">
            <pre th:text="${reportOutput}" class="m-0"></pre>
        </div>

        <div class="text-center">
            <a href="/watchlist" class="button secondary large">Back to Watchlist</a>
        </div>
    </div>
</div>
</body>
</html>